/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
  .room-container {
    height: calc(100vh - 400px);
    background-color: #b5b8af;
    overflow-x: hidden;
    overflow-y: scroll;   
  }

  .message-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .message {
    background-color: #dcf8c6;
    word-wrap: break-word;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    max-width: 40%;
  }
  
  .author {
    color: #088d3f;
    margin-bottom: 1px;
    font-size: 12px;
  }
  
  .body {
    font-size: 12px;
    margin-bottom: 1px;
  }
  
  .timestamp {
    color: #555;
    font-size: 10px;
    float: right;
  }